<section>
  <h3 class='dark-text'>Choose a Known Flying Site in Maine</h3>
  <div class="site-buttons">
    <button (click)="findWeather('04281')" >Streaked Mt.</button>
    <button (click)="findWeather('04438')" >Mt. Waldo</button>
    <button (click)="findWeather('04614')" >Blue Hill</button>
    <button (click)="findWeather('04664')" >Schoodic Mt.</button>
  </div>
</section>
<section>
    <h4 class='dark-text'> Or Search by Zip Code</h4>
    <input [(ngModel)]="zip" type="text" placeholder="Zip Code Here" (keyup)="findWeather(zip)"/>
    <input class='button' (click)="findWeather(zip)" type="submit" value="Search"/>
</section>
<hr>
<app-weather-results [weather]='weather' ></app-weather-results>
