.choose {
  display: inline-block;
}
.site-buttons {
  display:flex;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;
}
.site-button{
 flex-grow: 1;
}
.weather-box{
  padding: 0 35px 15px 35px;
  margin-top: 35px;
  margin:auto;
  width:75%;
  border: 1px #4D3CA1;
  background: rgba(0,0,0,0.4);
}
.town-name {
  color: #14BDCC;
}
.inline{
  display: inline-block;
}
